.new-tweet {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #ebe4da;
  position: unset;
  width: 80%;
  padding: 0px 20px 0px 20px;
}

#tweet-button {
  font-family: "Bungee", sans-serif;
  font-size: 1em;
  padding: 20px 20px 20px 0px;
}

#tweet-button button {
  color: #FFFFFF;
  background-color: #4056A1;
}

#tweet-button .counter {
  position: absolute;
  right: 0;
  padding: 0em 4em 1em 0em;
}

#tweet-text {
  display: flex;
  outline: 0;
  border: none;
  border-bottom: solid;
  background-color: #ebe4da;
  width: 100%;
  height: 1.75em;
}

@media screen and (min-width: 1024px) {
  #tweet-button .counter {
    position: inherit;
    right: 0;
    padding: 0px 0px 0px 37em;
  }
}