.tweets {
  display: flex;
  flex-direction: column;
  background-color: #ebe4da;
  width: 80%;
}

p.error-message {
  border: 3.5px solid red;
  padding: 20px 20px 20px 20px;
}

.tweet {
  border: solid;
  margin: 0px 0px 25px 0px;
}

.tweet:hover {
  box-shadow: 7px 7px 0px 0px lightgray;
}

article.tweet header {
  display: flex;
  flex-direction: row;
  background-image: none;
  background-color: #ebe4da;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 0px 0px 0px;
  margin-top: 0px;
  height: 100%;
}

article.tweet header {
  display: flex;
  flex-direction: row;
  background-image: none;
  background-color: #ebe4da;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 0px 0px 35px;
  margin-top: 0px;
  gap: 15px;
  height: 100%;
}

article.tweet header .user-handle {
  display: flex;
  padding: 0px 0px 0px 27em;
  font-size: 36px;
  color: silver;
  opacity: .6;
}

article.tweet footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px 25px 25px;
  border-top: 4px solid;
  margin: 10px;
}

article.tweet footer time {
  font-size: 25px;
}

article.tweet .icons {
  display: flex;
  gap: 10px;
}

article.tweet .fa-solid.fa-flag:hover, article.tweet .fa-solid.fa-retweet:hover, article.tweet .fa-solid.fa-heart:hover {
  color: darkgoldenrod;
  cursor: pointer;
}

article.tweet p.tweet-content {
  font-weight: bold;
  padding: 20px 0px 20px 35px;
}

@media screen and (min-width: 1024px) {
  .tweet {
    border: solid;
    margin: 0px 0px 25px 0px;
    flex: 1;
  }

  article.tweet header .user-handle {
    display: flex;
    padding: 0px 0px 0px 27em;
    font-size: 36px;
    color: silver;
    opacity: .6;
  }
  
}